@import url('https://fonts.googleapis.com/css?family=Andika|Caveat:700&display=swap&subset=cyrillic-ext');

:root {
    --controls: #28307C;
    --gray: #aaa;
    --lightgray: #eee;
    --metalgray: #71A5C0;
    --border-radius: 4px;
}

body, input, button {
    font: 20px/150% 'Andika', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--lightgray);
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Caveat', cursive;
    line-height: 110%;
}

h1 { font-size: 4em; }
h2 {
    font-size: 3em;
}
h3 {
    margin-block-start: 1.5em;
    margin-block-end: 0;
    font-size: 2em;
}

a {
    color: black;
}

a:hover {
    color: var(--controls);
}

button, input {
    border-radius: var(--border-radius);
    margin: 5px 0 10px;
    padding: 15px 20px;
}

button {
    border: var(--controls) 2px solid;
    background: transparent;
    color: var(--controls);
    padding: 14px 60px 16px;
}

button:hover {
    color: white;
    border-color: var(--controls);
    background-color: var(--controls);
    cursor: pointer;
}

input {
    outline: none;
    border: none;
    min-width: 620px;
}

hr {
    width: 50%;
    border-top: var(--metalgray) 1px solid;
    margin-left: 0;
    margin-top: 30px;
    opacity: .3;
}

.btn.xs {
    cursor: pointer;
    font-size: 50%;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: var(--gray);
    background-color: var(--lightgray);
    border-radius: var(--border-radius);
    padding: 5px 10px;
    position: relative;
    top: -1px;
}

.btn.xs:hover {
    opacity: .7;
}

.menu, .content {
    padding: 0 30px;
}

.menu {
    line-height: 75px;
    padding-bottom: 5px;
}

.menu a {
    text-decoration: none;
    margin-left: 20px;
    vertical-align: middle;
}

.menu a.first { margin-left: 0; }

.content {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 50px;
}

.content img.varvara, .content h1 {
    display: inline-block;
    vertical-align: middle;
}

.content img {
    margin-right: 30px;
    width: 100%;
}
.content img.varvara {
    width: 200px;
    border-radius: 100em;
}

.content h1 { margin: 0; }

.content .password { word-wrap: break-word; }

.footer { padding: 0 30px 0 10px; }

.footer .years {
    bottom: 0;
    color: var(--gray);
    margin: 20px 0 20px 20px;
    font-size: 70%;
    font-style: italic;
    line-height: normal;
}

.secondary {
    color: var(--metalgray);
}